h1 {
  text-align: center;
}

.buttons {
  text-align: center;
  padding-bottom: 30px;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

#pic {
  text-align: center;
}

h2 {
  margin: 100px 0px 0px 50px;
}

ul {
  margin-left: 50px;
}

p {
  margin-top: 0px;
  text-align: center;
}
